body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

header {
  padding: 10px 30px;
}

header.logo {
  display: grid;
  place-items: center;
}

.nav-items a {
  color: #344563;
  text-decoration: none;
}

header .logo a {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 20px;
  padding-top: 20px;
}

main {
  padding: 10px 30px;
}

.first-section {
  background-image: url("images/mobile-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #172b4d;
}

.first-section .intro {
  padding-top: 100px;
}

nav {
  display: flex;
  flex-direction: row;
}

.menu-icon {
  margin-left: auto;
  padding-top: 10px;
}

.intro h1 {
  margin-top: 0;
  font-size: 40px;
  line-height: 52px;
}

.intro p {
  font-weight: 400;
}

.socials {
  padding-top: 5px;
}

.socials p {
  text-transform: uppercase;
  color: #7f8cff;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px;
}

.social {
  padding-right: 20px;
}

/* Work Section */
.work-section {
  margin-top: 5em;
  background-color: #e5e5e5;
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 6em 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card h2 {
  color: #172b4d;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 0;
}

.experience-section{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.experience-section .canopy {
  color: #344563;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
}

.experience-section .bullet {
  color: #7A869A;
  font-weight: 600;
  font-size: 13px;
}

.card .card-text {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
}

.skills {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  align-items: flex-end;
  padding-left: 0;
  margin-top: 0;
}

.skills>li {
  background-color: #EBEBFF;
  padding: 4px 12px;
  border: none;
  border-radius: 15px;
  color: #6070FF;
  font-size: 12px;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
  flex-basis: auto;
  width: 40%;
  color: #396DF2;
  font-size: 17px;
  border: 1px solid #396DF2;
  border-radius: 10px;
  padding: 12px 8px;
  background-color: #fff;
}

/* About me Section */
.about-me {
  padding: 10px 30px;
}

.about-me h2 {
  color: #172b4d;
  font-size: 40px;
  margin-bottom: 10px;
}

.about-me p {
  color: #344563;
  font-size: 16px;
}

.about-me h3 {
  color: #7f8cff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.about-me img {
  display: block;
  padding-bottom: 20px;
}

.about-me button {
  width: 50%;
  font-weight: 500;
}



